<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zynksoftware.documentscanner">

    <uses-feature android:name="android.hardware.camera2" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.scan.InternalScanActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />

        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />

    </application>

</manifest>